.container
	max-width: 768px
	margin: 0 auto
	position: relative
.text-center
	text-align: center
.row
	+clearfix()
.true,.false
		margin-top: 20px
		margin-bottom: -10px
		margin-right: 20px
		display: inline-block
		padding: 5px 15px
		font-size: 12px
.true
	color: green
	border: 1px solid green
.false
	color: red
	border: 1px solid red
.instagram 
	margin: 30px
	margin-left: 0px
	padding: 30px
	background: #fff	
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2)
	*
		box-sizing: border-box
		outline: none
	a
		text-decoration: none
	.first
		margin-top: 30px
		text-align: center
		font-weight: 700
		font-size: 16px
		p
			margin: 0
			padding-bottom: 20px
		a
			display: inline-block
			width: 60px
			height: 60px
			border-radius: 50%
			background: rgb(249,215,3)
			background: linear-gradient(45deg, rgba(249,215,3,1) 16%,rgba(153,52,195,1) 100%)
			box-shadow: 0px 5px 10px rgba(0,0,0,0.2)
			position: relative
			&:after
				content: '+'
				color: #fff
				font-size: 40px
				font-weight: 700
				position: absolute
				top: 41%
				left: 50%
				+translate(-50%,-50%)
	&__shortcodes
		padding-top: 30px
		table
			width: 100%
			position: relative
			&:after
				content: ''
				display: block
				height: 1px
				top: 30px
				p5
				position: absolute
				width: 100%
				background: rgb(249,215,3)
				background: linear-gradient(45deg, rgba(249,215,3,1) 16%,rgba(153,52,195,1) 100%)
			thead
				tr
					td
						font-size: 16px
						font-weight: 700
						padding: 5px
						a
							text-decoration: none
			tbody
				tr
					td
						padding: 5px
						font-size: 16px
					.code
						cursor: pointer
			thead
	&__settings
		margin-top: 30px
		border: 1px solid rgba(#000,.2)
		box-shadow: 0px 1px 2px rgba(0,0,0,0.2)
	&__title
		font-size: 20px
		text-align: center
		font-weight: 700
		margin: 20px 0px
	&__logo 
		background-image: url('https://www.instagram.com/static/bundles/sprite_core.png/d8ff6434880c.png')
		background-repeat: no-repeat
		background-position: -226px 0
		height: 51px
		width: 178px
		display: block
		margin: 0 auto
	form
		padding-top: 20px
		padding-bottom: 20px
		input,button,select
			outline: none
			border: 1px solid rgba(0,0,0,0.2)
		input[type=text]
			width: 150px
			padding: 5px 10px
			border-radius: 3px
			font-weight: 700
			font-size: 16px
			box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2)
		input[type=number]
			padding: 5px 10px
			border-radius: 3px
			font-size: 14px
			box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2)
		select
			border-radius: 3px
			font-size: 14px
			box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2)
		input[type=checkbox]
			width: 50px
			padding: 5px 10px
			border-radius: 3px
			font-size: 14px
			box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2)
		.row
			label
				float: left
				width: 33.3%
				display: block
				padding: 0px 15px
				font-size: 12px
				position: relative
				&:hover
					p
						&:after
							width: 75%
				input,select
					display: block
					margin-top: 5px
					width: 100%
					cursor: pointer
				input[type=checkbox]
					margin-top: 10px
					display: inline-block
					width: 16px
					height: 16px
					border: 1px solid rgba(0,0,0,0.2)
					&:before
						margin: -3px 0px 0px -4px
				span
					position: relative
					top: 5px
				p
					margin: 0
					+transition(all .4s)
					&:after
						+transition(all .4s)
						content: ''
						position: absolute
						display: block
						height: 1px
						background: rgb(249,215,3);
						background: linear-gradient(45deg, rgba(249,215,3,1) 16%,rgba(153,52,195,1) 100%)
						width: 0
						border: 0
						left: 15px
		.user
			&:after
				content: ''
				background-image: url('https://www.instagram.com/static/bundles/sprite_core.png/d8ff6434880c.png')
				background-repeat: no-repeat
				background-position: -314px -422px
				height: 22px
				width: 24px
				display: inline-block
				position: relative
				top: 5px
				right: 5px
		.submit
			display: block
			text-align: center
			margin-top: 30px
		#submit
			background: rgb(249,215,3);
			background: linear-gradient(45deg, rgba(249,215,3,1) 16%,rgba(153,52,195,1) 100%)
			height: 29px
			border-radius: 3px 
			border: none
			font-size: 16px
			margin: 0 auto
			color: #fff
			display: inline-block
			text-transform: uppercase
			box-shadow: 0px 1px 2px rgba(0,0,0,0.2)
			text-shadow: none
			+transition(all .4s)
			cursor: pointer
			position: relative
	&__box
		max-width: 400px
		margin: 0 auto
		margin-top: 30px
		padding: 15px
		padding-bottom: 0px
		box-shadow: 0px 2px 10px rgba(0,0,0,0.3)
		.error
			text-align: center
			font-weight: 700
			font-size: 16px
			padding-bottom: 30px
	&__thumb
		margin-bottom: 20px
		text-align: center
		a
			text-decoration: none
		img
			width: 80px
			display: block
			border-radius: 50%
			margin: 0 auto
			box-shadow: 0px 2px 10px rgba(0,0,0,0.3)
			float: left
			margin-right: -80px
		p
			font-size: 16px
			font-weight: 700
			margin: 0
			opacity: .5
			color: #000	
		.name
			padding-top: 10px
			font-size: 20px
			font-weight: 700
			margin: 0
			opacity: 1
			color: #000
	&__plugin
		padding-top: 15px
		+clearfix()
		position: relative
		margin: 0 -10px
		.img
			float: left
			padding: 0px 10px
			padding-bottom: 20px
			position: relative
			+transition(all .4s)
			&:hover
				+scale(1.1)
			img
				width: 100%
				padding: 15px
				padding-bottom: 60px
				box-shadow: 0px 2px 10px rgba(0,0,0,0.2)
		&--likes
			position: absolute
			bottom: 45px
			left: 25px
			font-weight: 700
			font-size: 12px
			color: #969696
			&:before
				content: ''
				background-image: url('https://www.instagram.com/static/bundles/sprite_core.png/d8ff6434880c.png')
				background-repeat: no-repeat
				background-position: -465px -106px
				height: 22px
				width: 24px
				display: inline-block
				position: relative
				top: 7px
				padding-right: 5px
		&--comments
			position: absolute
			bottom: 45px
			right: 25px
			font-weight: 700
			font-size: 12px
			color: #969696
			&:after
				content: ''
				background-image: url('https://www.instagram.com/static/bundles/sprite_core.png/d8ff6434880c.png')
				background-repeat: no-repeat
				background-position: -360px -373px
				height: 22px
				width: 24px
				display: inline-block
				position: relative
				top: 7px
				margin-left: 5px
	.mini
		.img
			width: 33.3%
			img
				padding: 0
			span
				display: none
	.big
		.img
			width: 100%
	.slider
		overflow: hidden
		.img
			width: 100%

