extends ../layout/base

append config
	- var pageTitle = 'Home page'

block content
	.container
		.instagram
			.instagram__logo
			form(action="options.php" method="POST")
				<table class="form-table"><tbody><tr><th scope="row"><i class="user"></i></th><td>		<input type="text" id="instagram_user" name="instagram[user]" value="imdubhead">
						</td></tr></tbody></table>
				<label class="submit" for="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value=""></label>
			.instagram__thumb
				img(src="https://instagram.fiev10-1.fna.fbcdn.net/vp/8a37212e4f41b6c84e119ae7aa3586f0/5B0F1DA8/t51.2885-19/s320x320/16122944_371991606506772_2495114787654991872_a.jpg", alt="")
				p.name Dub Head
				p Followers: 
					span 1300
			.instagram__plugin
				.row
					.img
						img(src="https://instagram.fiev10-1.fna.fbcdn.net/vp/8a37212e4f41b6c84e119ae7aa3586f0/5B0F1DA8/t51.2885-19/s320x320/16122944_371991606506772_2495114787654991872_a.jpg", alt="")
					.img
						img(src="https://instagram.fiev10-1.fna.fbcdn.net/vp/8a37212e4f41b6c84e119ae7aa3586f0/5B0F1DA8/t51.2885-19/s320x320/16122944_371991606506772_2495114787654991872_a.jpg", alt="")
					.img
						img(src="https://instagram.fiev10-1.fna.fbcdn.net/vp/8a37212e4f41b6c84e119ae7aa3586f0/5B0F1DA8/t51.2885-19/s320x320/16122944_371991606506772_2495114787654991872_a.jpg", alt="")
					.img
						img(src="https://instagram.fiev10-1.fna.fbcdn.net/vp/8a37212e4f41b6c84e119ae7aa3586f0/5B0F1DA8/t51.2885-19/s320x320/16122944_371991606506772_2495114787654991872_a.jpg", alt="")
